@import "home/variables";
@import "home/utilities";
@import "home/keyframes";
@import "home/grid";

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    // This defines what 1rem is
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;    
    font-weight: 400;
    line-height: 1.7;
    color: $colour-grey-dark;
}

.header{
    height: 90vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($colour-black, 0.7),
        rgba($colour-black, 0.7)),
    url(../img/image2.png);
    background-size: cover;
    background-position: bottom;
    position: relative;

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo{
        height: 3.5rem;
    }
    &__text-box{
        width: 800px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}


.heading-primary{
    color: $colour-white;
    backface-visibility: hidden;
    font-weight: 400;

    &--main{
        display: block;
        font-size: 6rem;
        letter-spacing: .2rem;
        animation: moveInLeft 1s ease-out;
    }
    &--sub{
        display: block;
        font-size: 2rem;
        letter-spacing: .1rem;
        animation: moveInRight 1s ease-out;
    }
}
.heading-secondary{
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, $colour-primary, $colour-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    margin-bottom: 2rem;
}


.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph{
    font-size: 1.7rem;
    
    &:not(:last-child){
        margin-bottom: 3rem;
    }

}
.list{
    font-size: 1.7rem;
    padding-left: 4rem;
}








#section-description{
    background-color: $colour-grey-light-1;
    padding: 10rem 0;
}

#section-photos{
    position: relative;
    text-align: center;
    background-color: $colour-grey-dark;
    padding: 10rem 0 ;
}
.yt-vid{
    width: 64rem;
    height: 36rem;
    margin-right: $gutter-horizontal-fake;
    margin-top: 5rem;
}
.stand-pic{
    height: 36rem;
    margin-top: 5rem;
}
.stand-bike-pic{
    margin-top: $gutter-vertical;
    max-width: calc(#{$row-width} - 3.5rem);
}

#section-pricing{
    position: relative;
    text-align: center;
    background-color: $colour-grey-light-1;
    padding: 10rem 0;
}










.btn{
    &:link,
    &:visited{
        color: $colour-black;
        text-decoration: none;
        padding: 1rem 3rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.8rem;
        min-width: 18rem;
    }
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($colour-black,0.2);

        // &::after{
        //     transform: scaleX(1.4) scaleY(1.6);
        //     opacity: 0;
        // }
    }
    &:active{
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($colour-black,0.2);
    }
    &--white{
        color: $colour-grey-dark;
        background-color: $colour-white;

        &::after{
            background-color: $colour-white;
        }
    }
    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--animated{
        animation: moveInBottom .5s ease-out .75s backwards;
    }
    &--landing{
        margin: 0 .5rem;
        position: relative;
        top: 26rem;
    }
}






#section-contact{
    color: $colour-white;
    background-color: $colour-primary-dark;
    position: relative;
    padding: 10rem 0 2rem;
    font-size: 1.8rem;
    text-align: center;

    .row{
        text-align: left;
    }
    .heading-secondary{
        color:$colour-grey-light-1;
        margin-bottom: 6rem;
        font-size: 3.6rem;
    }
    .heading-tertiary{
        margin-bottom: 3rem;
        text-transform: initial;
        font-size: 2rem;
    }
}

/* Style Inputs */
input[type=text], input[type=tel], textarea, select{
    width: 80%; 
    padding: .2rem .4rem;
    border: .3rem solid $colour-primary-light;
    border-radius: .5rem;
    margin-bottom: 2rem;
    resize: none;
}


/* Submit Button */
input[type=submit] {
    background-color:$colour-primary-light;
    color:$colour-black;
    text-decoration: none;
    padding: 1rem 3rem;
    display: inline-block;
    border-radius: 5rem;
    position: relative;
    transition: all 0.7s;
    border: .2rem solid $colour-grey-light-1;  

    &:hover {
        background-color:$colour-primary;
        color:$colour-white;
        border: .2rem solid $colour-white;  
    }
    &:active {
        transition: all 0.7s;
        transform: translateY(.3rem);
    }
}

/* Footer */
.copyright {
    text-align: center;
    padding: .2rem;
    background-color: transparent;
    width: 100%;
    font-size: 1.5rem;
}
.social-icon {
    padding: 2rem;
    color:$colour-white;
    &:hover{
        color:$colour-white;
    }
}